.top-bar {
    width: 100%;

    display: flex;
    justify-content: center;

    background: #FF6F6F;

    padding: 16px;
}

p.title {
    color: #ffffff;

    font-size: 1.5rem;
    font-weight: 400;

    text-transform: uppercase;

}