<div *ngFor="let task of tasks">
    <button>
        <div>
            {{task.name}}
        </div>
    </button>
</div>
  
  <!-- <div class="Task">
    <div *ngFor="let task of tasks">
        {{task.name}}
    </div>
    <label for="new-task"> Task name: </label>
    <input id="new-task" #taskName />
     (click) passes input value to add() and then clears the input
    <button type="button" class="add-button" (click)="add(taskName.value); taskName.value=''">
      Add Task
    </button>
  </div> -->
<app-back-to-do-check></app-back-to-do-check>



