<div *ngIf="!editMode" class="item" [ngClass]="{'checked': item.checked && !editMode}">
    <div class="badge" (click)="enableEditMode()">
        <p>{{item.index}}</p>
    </div>
    <div class="content" (click)="checkItem()">
        <p>{{item.text}}</p>
    </div>
    <div class="delete" (click)="deleteItem()">
        <p>X</p>
    </div>
</div>

<div *ngIf="editMode" class="item" [ngClass]="{'checked': item.checked && !editMode}">
    <div class="badge edit">
        <p>{{item.index}}</p>
    </div>
    <div class="content">
        <input id="editTodo" #editTodo (blur)="leaveEditMode()" type="text" [placeholder]="item.text" (change)="saveText(editTodo.value)" (change)="deleteItem()"/>
    </div>
</div>