.item {
    display: flex;
    flex-direction: row;

    width: 100%;

    border: 1px solid black;

}

.badge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 0.5;

    background-color: #FF6F6F;
    color: #ffffff;
}

.content {
    text-align: left;
    flex-grow: 1;

    padding-left: 12px;
}

/* .item{
    margin-top: 4%;
    width: 75%;
    margin-left: 12%;
    font-size: 13px;
    border-width: 1px;
    border-style: solid;
    display: flex;
}
.badge{
    width: 15%;
    display: flex;
    justify-content: center;
    background-color: #FF6F6F;
    border-radius: 0px 4px 4px 0px;
    color: white;
}
.content{
    margin-left: 2%;
    width: 85%;
    display: flex;
    justify-content: flex-start;
} */
