html, body {
    padding: 0px;
    margin: 0px;
    border: none;
}

* {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    box-sizing: border-box;

    margin: 0px;
    padding: 0px;
    border: none;
}