*{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#btn{
    background-color: white;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    position: fixed;
    bottom: 0%;
    margin-bottom: 70%;
    margin-left: 34%;
    padding: 2%;
}